<div class="page">
    <div class="navbar navbar-page">
        <div class="navbar-inner sliding">
            <div class="left">
                <a href="#" class="link back">
                    <i class="fas fa-arrow-left"></i>
                </a>
            </div>
            <div class="title">
                پنل خریدار
            </div>
            <div class="right"></div>
        </div>
    </div>
    <div class="page-content">
        <!-- account buyer -->
        <div class="account-buyer segments">
            <div class="container">
                <div class="header-account content-shadow">
                    <img src="images/user-buyer6.png" alt="">
                    <div class="title-name">
                        <h5>مهندس دریا</h5>
                        <p><i class="fas fa-map-marker-alt"></i>یزد</p>
                    </div>
                </div>
            </div>
            <div class="container segments">
                <div class="info-balance content-shadow">
                    <div class="row">
                        <div class="col-50">
                            <div class="content-text">
                                <p>موجودی شما</p>
                                <h5>تومان 310.00 </h5>
                            </div>
                        </div>
                        <div class="col-50">
                            <div class="content-button">
                                <a href="#" class="button primary-button"><i class="fas fa-wallet"></i>بالا</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="account-menu">
                <div class="list media-list">
                    <ul>
                        <li>
                            <a href="/wishlist/" class="item-link item-content">
                                <div class="item-media">
                                    <i class="fas fa-heart"></i>
                                </div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">علاقمندیها</div>
                                    </div>
                                    <div class="item-subtitle">کلیه محصولاتی که ذخیره کرده اید</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/transaction/" class="item-link item-content">
                                <div class="item-media">
                                    <i class="fas fa-exchange-alt"></i>
                                </div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">معامله</div>
                                    </div>
                                    <div class="item-subtitle">تمام معاملات شما در اینجا است</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/notification/" class="item-link item-content">
                                <div class="item-media">
                                    <i class="fas fa-bell"></i>
                                </div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">اطلاعات</div>
                                    </div>
                                    <div class="item-subtitle">معاملات ، خرید ، به روزرسانی هشدار</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/faq/" class="item-link item-content">
                                <div class="item-media">
                                    <i class="fas fa-question"></i>
                                </div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">سوالات متداول</div>
                                    </div>
                                    <div class="item-subtitle">به کمک نیاز دارید؟</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/contact-seller/" class="item-link item-content">
                                <div class="item-media">
                                    <i class="fas fa-envelope"></i>
                                </div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">پنل فروشنده</div>
                                    </div>
                                    <div class="item-subtitle">از ما بپرسید</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="item-link item-content">
                                <div class="item-media">
                                    <i class="fas fa-power-off"></i>
                                </div>
                                <div class="item-inner">
                                    <div class="item-title">خروج</div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- end  account buyer -->
    </div>
</div>