<div class="page">
    <div class="navbar navbar-page">
        <div class="navbar-inner sliding">
            <div class="left">
                <a href="#" class="link back">
                    <i class="fas fa-arrow-left"></i>
                </a>
            </div>
            <div class="title">
                 بررسی همه محصولات
            </div>
            <div class="right"></div>
            <div class="subnavbar">
                <div class="subnavbar-inner">
                    <div class="all-rating">
                        <ul>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star-half-alt"></i></li>
                            <li class="rating-total">4.5/5 <span>(41002)</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-content hide-navbar-on-scroll">
        <!-- all reviews -->
        <div class="all-reviews product-review segments">
            <div class="container">
                <div class="content">
                    <img src="images/user-buyer2.png" alt="">
                    <div class="text">
                        <h6>نجفی</h6>
                        <ul class="rate-product">
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star-half-alt"></i></li>
                        </ul>
                        <p class="date">3 دقیقه پیش</p>
                        <i class="fas fa-thumbs-up like-button"></i>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است. </p>
                    </div>
                </div>

                <!-- divider -->
                <div class="divider-line-half"></div>
                <!-- end divider -->

                <div class="content">
                    <img src="images/user-buyer1.png" alt="">
                    <div class="text">
                        <h6>ادمین</h6>
                        <ul class="rate-product">
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star-half-alt"></i></li>
                        </ul>
                        <p class="date">3 دقیقه پیش</p>
                        <i class="fas fa-thumbs-up like-button"></i>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است.</p>
                    </div>
                </div>

                <!-- divider -->
                <div class="divider-line-half"></div>
                <!-- end divider -->

                <div class="content">
                    <img src="images/user-buyer3.png" alt="">
                    <div class="text">
                        <h6>زینب</h6>
                        <ul class="rate-product">
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star-alt"></i></li>
                        </ul>
                        <p class="date">3 دقیقه پیش</p>
                        <i class="fas fa-thumbs-up like-button"></i>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است.</p>
                    </div>
                </div>

                <!-- divider -->
                <div class="divider-line-half"></div>
                <!-- end divider -->

                <div class="content">
                    <img src="images/user-buyer4.png" alt="">
                    <div class="text">
                        <h6>شهیکی</h6>
                        <ul class="rate-product">
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star-half-alt"></i></li>
                        </ul>
                        <p class="date">3 دقیقه پیش</p>
                        <i class="fas fa-thumbs-up like-button"></i>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است.</p>
                    </div>
                </div>

                <!-- divider -->
                <div class="divider-line-half"></div>
                <!-- end divider -->

                <div class="content">
                    <img src="images/user-buyer5.png" alt="">
                    <div class="text">
                        <h6>امیر</h6>
                        <ul class="rate-product">
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star-half-alt"></i></li>
                        </ul>
                        <p class="date">3 دقیقه پیش</p>
                        <i class="fas fa-thumbs-up like-button"></i>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است.</p>
                    </div>
                </div>

                <!-- divider -->
                <div class="divider-line-half"></div>
                <!-- end divider -->

                <div class="content">
                    <img src="images/user-buyer1.png" alt="">
                    <div class="text">
                        <h6>دریا</h6>
                        <ul class="rate-product">
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star-half-alt"></i></li>
                        </ul>
                        <p class="date">3 دقیقه پیش</p>
                        <i class="fas fa-thumbs-up like-button"></i>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است.</p>
                    </div>
                </div>

                <!-- divider -->
                <div class="divider-line-half"></div>
                <!-- end divider -->

                <div class="content">
                    <img src="images/user-buyer1.png" alt="">
                    <div class="text">
                        <h6>مجید</h6>
                        <ul class="rate-product">
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star-half-alt"></i></li>
                        </ul>
                        <p class="date">3 دقیقه پیش</p>
                        <i class="fas fa-thumbs-up like-button"></i>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- end all reviews -->
    </div>
</div>