<div class="page">
    <div class="navbar navbar-page">
        <div class="navbar-inner sliding">
            <div class="left">
                <a href="#" class="link back">
                    <i class="fas fa-arrow-left"></i>
                </a>
            </div>
            <div class="title">
                دسته بندی
            </div>
        </div>
    </div>
    <div class="page-content">
        <!-- all categoreis -->
        <div class="all-categories segments">
            <div class="container">
                <div class="row">
                    <div class="col-33">
                        <a href="/categories-details/">
                            <div class="content">
                                <i class="fas fa-tshirt"></i>
                                <p>پوشاک</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-33">
                        <a href="/categories-details/">
                            <div class="content">
                                <i class="fas fa-car"></i>
                                <p>اتومبیل</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-33">
                        <a href="/categories-details/">
                            <div class="content">
                                <i class="fas fa-basketball-ball"></i>
                                <p>ورزشی</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-33">
                        <a href="/categories-details/">
                            <div class="content">
                                <i class="fas fa-headphones-alt"></i>
                                <p>تجهیزات جانبی</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-33">
                        <a href="/categories-details/">
                            <div class="content">
                                <i class="fas fa-chair"></i>
                                <p>مبلمان</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-33">
                        <a href="/categories-details/">
                            <div class="content">
                                <i class="fas fa-plug"></i>
                                <p>الکترونیک</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-33">
                        <a href="/categories-details/">
                            <div class="content">
                                <i class="fas fa-camera"></i>
                                <p>مناسبت ها</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-33">
                        <a href="/categories-details/">
                            <div class="content">
                                <i class="fas fa-mobile-alt"></i>
                                <p>هدفون</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-33">
                        <a href="/categories-details/">
                            <div class="content">
                                <i class="fas fa-utensils"></i>
                                <p>غذا</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-33">
                        <a href="/categories-details/">
                            <div class="content">
                                <i class="fas fa-hiking"></i>
                                <p>فضای باز</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-33">
                        <a href="/categories-details/">
                            <div class="content">
                                <i class="fas fa-briefcase-medical"></i>
                                <p>سلامتی</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-33">
                        <a href="/categories-details/">
                            <div class="content">
                                <i class="fas fa-pencil-ruler"></i>
                                <p>ثابت</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- end all categoreis -->
    </div>
</div>