<div class="page">
    <div class="navbar navbar-page">
        <div class="navbar-inner sliding">
            <div class="left">
                <a href="#" class="link back">
                    <i class="fas fa-arrow-left"></i>
                </a>
            </div>
            <div class="title">
                تماس با فروشنده
            </div>
            <div class="right"></div>
        </div>
    </div>
    <div class="page-content">
        <!-- contact seller -->
        <div class="password-settings segments">
            <div class="container">
                <form class="list">
                    <ul>
                        <li class="item-content item-input">
                            <div class="item-inner">
                                <div class="item-input-wrap">
                                    <input type="text" placeholder="نام و نام خانوادگی">
                                </div>
                            </div>
                        </li>
                        <li class="item-content item-input">
                            <div class="item-inner">
                                <div class="item-input-wrap">
                                    <input type="email" placeholder="ایمیل">
                                </div>
                            </div>
                        </li>
                        <li class="item-content item-input">
                            <div class="item-inner">
                                <div class="item-input-wrap">
                                    <input type="text" placeholder="موضوع">
                                </div>
                            </div>
                        </li>
                        <li class="item-content item-input">
                            <div class="item-inner">
                                <div class="item-input-wrap">
                                    <textarea cols="30" rows="10" placeholder="پیام ..."></textarea>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="content-button">
                        <a href="#" class="button primary-button"><i class="fas fa-paper-plane"></i>ارسال</a>
                    </div>
                </form>
            </div>
        </div>
        <!-- end contact seller -->
    </div>
</div>