<div class="page">
    <div class="navbar navbar-page">
        <div class="navbar-inner sliding">
            <div class="left">
                <a href="#" class="link back">
                    <i class="fas fa-arrow-left"></i>
                </a>
            </div>
            <div class="title">
                تنظیمات ایمیل
            </div>
            <div class="right"></div>
        </div>
    </div>
    <div class="page-content">
        <!-- email settings -->
        <div class="email-settings segments">
            <div class="container">
                <div class="content">
                    <h6>ایمیل <span><i class="fas fa-check"></i>تأیید شده</span> <a href="/email-change-settings/">ویرایش</a></h6>
                    <p>ZNAJAFI014@gmail.com</p>
                </div>

                <!-- divider -->
                <div class="divider-line-half"></div>
                <!-- end divider -->

                <div class="content">
                    <h6>پشتیبانی <a href="/email-change-settings/">ویرایش</a></h6>
                    <p>ZNAJAFI014@gmail.com</p>
                </div>
            </div>
        </div>
        <!-- end email settings -->
    </div>
</div>