<div class="page">
    <div class="navbar navbar-page">
        <div class="navbar-inner sliding">
            <div class="left">
                <a href="#" class="link back">
                    <i class="fas fa-arrow-left"></i>
                </a>
            </div>
            <div class="title">
                تنظیمات اعلانات
            </div>
            <div class="right">
                <a href="#" @click="showToastBottom">
                    <i class="fas fa-check confirm-changes"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="page-content">
        <!-- notification settings -->
        <div class="notification-settings segments-bottom">
            <div class="list">
                <ul>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title">اعلانهای نظرات</div>
                                <div class="item-after">
                                    <label class="toggle toggle-init color-red">
                                        <input type="checkbox" checked>
                                        <span class="toggle-icon"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title">به روزرسانی های خودکار برنامه ها</div>
                                <div class="item-after">
                                    <label class="toggle toggle-init color-red">
                                        <input type="checkbox">
                                        <span class="toggle-icon"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title">ارتعاش برای اعلان ها</div>
                                <div class="item-after">
                                    <label class="toggle toggle-init color-red">
                                        <input type="checkbox" checked>
                                        <span class="toggle-icon"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title">محصول پیشنهادی</div>
                                <div class="item-after">
                                    <label class="toggle toggle-init color-red">
                                        <input type="checkbox" checked>
                                        <span class="toggle-icon"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title">به روز رسانی ویژگی های برنامه</div>
                                <div class="item-after">
                                    <label class="toggle toggle-init color-red">
                                        <input type="checkbox">
                                        <span class="toggle-icon"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title">همه اعلان ها به ایمیل وارد می شوند</div>
                                <div class="item-after">
                                    <label class="toggle toggle-init color-red">
                                        <input type="checkbox">
                                        <span class="toggle-icon"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- end notification settings -->
    </div>
</div>
