<div class="page">
    <div class="navbar navbar-page">
        <div class="navbar-inner sliding">
            <div class="left">
                <a href="#" class="link back">
                    <i class="fas fa-arrow-left"></i>
                </a>
            </div>
            <div class="title">
                 پیگیری سفارش
            </div>
            <div class="right"></div>
        </div>
    </div>
    <div class="page-content">
        <!-- shipping information -->
        <div class="shipping-information segments">
            <div class="container">
                <div class="timeline">
                    <div class="timeline-item info-active">
                        <div class="timeline-item-divider"></div>
                        <div class="timeline-item-content">
                            <div class="timeline-item-title">تحویل موفقیت آمیز</div>
                            <div class="timeline-item-text">سفارش با موفقیت پذیرفته شد</div>
                            <div class="timeline-item-time date">1399-12-1</div>
                        </div>
                    </div>
                    <div class="timeline-item">
                        <div class="timeline-item-divider"></div>
                        <div class="timeline-item-content">
                            <div class="timeline-item-title">تحویل داده شده</div>
                            <div class="timeline-item-text">شروع تحویل به گیرنده</div>
                            <div class="timeline-item-time date">1399-12-1</div>
                        </div>
                    </div>
                    <div class="timeline-item">
                        <div class="timeline-item-divider"></div>
                        <div class="timeline-item-content">
                            <div class="timeline-item-title">فرایند مرتب سازی</div>
                            <div class="timeline-item-text">به محل مرتب سازی رسید</div>
                            <div class="timeline-item-time date">1399-12-1</div>
                        </div>
                    </div>
                    <div class="timeline-item">
                        <div class="timeline-item-divider"></div>
                        <div class="timeline-item-content">
                            <div class="timeline-item-title">فرآیند تحویل</div>
                            <div class="timeline-item-text">ترانزیت مرکز حمل و نقل</div>
                            <div class="timeline-item-time date">1399-12-1</div>
                        </div>
                    </div>
                    <div class="timeline-item">
                        <div class="timeline-item-divider"></div>
                        <div class="timeline-item-content">
                            <div class="timeline-item-title">فرآیند تحویل</div>
                            <div class="timeline-item-text">وارد توزیع حمل و نقل شد</div>
                            <div class="timeline-item-time date">1399-12-1</div>
                        </div>
                    </div>
                    <div class="timeline-item">
                        <div class="timeline-item-divider"></div>
                        <div class="timeline-item-content">
                            <div class="timeline-item-title">بسته بندی شده</div>
                            <div class="timeline-item-text">سفارش شما بسته بندی می شود</div>
                            <div class="timeline-item-time date">1399-12-1</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end shipping information -->
    </div>
</div>