<div class="page">
    <div class="navbar navbar-page">
        <div class="navbar-inner sliding">
            <div class="left">
                <a href="#" class="link back">
                    <i class="fas fa-arrow-left"></i>
                </a>
            </div>
            <div class="title">
                جزئیات حمل و نقل
            </div>
            <div class="right"></div>
        </div>
    </div>
    <div class="page-content">
        <!-- shipping details -->
        <div class="shipping-details segments">
            <div class="container">
                <div class="section-title">
                    <h3> جزئیات اطلاعات</h3>
                </div>
                <form class="list">
                    <ul>
                        <li class="item-content item-input">
                            <div class="item-inner">
                                <div class="item-input-wrap">
                                    <input type="text" placeholder="نام و نام خانوادگی">
                                </div>
                            </div>
                        </li>
                        <li class="item-content item-input">
                            <div class="item-inner">
                                <div class="item-input-wrap">
                                    <input type="text" placeholder="شماره تلفن">
                                </div>
                            </div>
                        </li>
                        <li class="item-content item-input">
                            <div class="item-inner">
                                <div class="item-input-wrap input-dropdown-wrap">
                                    <select placeholder="Select Country">
                                        <option value="Select Country" disabled>کشور</option>
                                        <option value="Germany">آلمان</option>
                                        <option value="Italy">ایتالیا</option>
                                        <option value="Spain">اسپانیا</option>
                                        <option value="United States">آمریکا</option>
                                        <option value="United Kingdom">انکلستان</option>
                                    </select>
                                </div>
                            </div>
                        </li>
                        <li class="item-content item-input">
                            <div class="item-inner">
                                <div class="item-input-wrap">
                                    <input type="text" placeholder="کد پستی">
                                </div>
                            </div>
                        </li>
                        <li class="item-content item-input">
                            <div class="item-inner">
                                <div class="item-input-wrap">
                                    <input type="text" placeholder="آدرس کامل ...">
                                </div>
                            </div>
                        </li>
                    </ul>
                </form>
                <div class="attention-information">
                    <span>* اطمینان حاصل کنید که همه داده ها صحیح است</span>
                </div>
                <div class="button-confirm">
                    <button class="button"><i class="fas fa-check"></i>تایید</button>
                </div>
            </div>
        </div>
        <!-- end shipping details -->
    </div>
</div>