<div class="page">
    <div class="navbar navbar-page">
        <div class="navbar-inner sliding">
            <div class="left">
                <a href="#" class="link back">
                    <i class="fas fa-arrow-left"></i>
                </a>
            </div>
            <div class="title">
                گزینه های حمل و نقل
            </div>
            <div class="right"></div>
        </div>
    </div>
    <div class="page-content">
        <!-- shipping options -->
        <div class="shipping-options segments">
            <div class="container">
                <div class="section-title">
                    <h3>اکسپرس بسته بندی</h3>
                </div>
                <a href="#">
                    <div class="content">
                        <img src="images/abc-express.png" alt="">
                        <div class="title-name">
                            <h6>نیک اکسپرس</h6>
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div class="content">
                        <img src="images/flash-cargo.png" alt="">
                        <div class="title-name">
                            <h6>فلش بار</h6>
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div class="content">
                        <img src="images/secure-logistics.png" alt="">
                        <div class="title-name">
                            <h6>تدارکات ایمن</h6>
                        </div>
                    </div>
                </a>

                <!-- divider -->
                <div class="divider-line-half"></div>
                <!-- end divider -->

                <div class="section-title">
                    <h3>بسته بندی تنظیم کننده</h3>
                </div>
                <a href="#">
                    <div class="content">
                        <img src="images/abc-express.png" alt="">
                        <div class="title-name">
                            <h6>تدارکات ستاره</h6>
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div class="content">
                        <img src="images/happy-logistics.png" alt="">
                        <div class="title-name">
                            <h6>تدارکات </h6>
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div class="content">
                        <img src="images/cycling-logistics.png" alt="">
                        <div class="title-name">
                            <h6>دوچرخه حمل بار</h6>
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div class="content">
                        <img src="images/secure-logistics.png" alt="">
                        <div class="title-name">
                            <h6>تدارکات ایمنی</h6>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <!-- end shipping options -->
    </div>
</div>