<div class="page">
    <div class="navbar navbar-page">
        <div class="navbar-inner sliding">
            <div class="left">
                <a href="#" class="link back">
                    <i class="fas fa-arrow-left"></i>
                </a>
            </div>
            <div class="title">
             ورود
            </div>
            <div class="right"></div>
        </div>
    </div>
    <div class="page-content">
        <!-- sign in -->
        <div class="sign-in segments">
            <div class="container">
                <form class="list">
                    <ul>
                        <li class="item-content item-input">
                            <div class="item-inner">
                                <div class="item-input-wrap">
                                    <input type="email" placeholder="ایمیل">
                                </div>
                            </div>
                        </li>
                        <li class="item-content item-input">
                            <div class="item-inner">
                                <div class="item-input-wrap">
                                    <input type="password" placeholder="رمز عبور">
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="wrap-link-action">
                        <ul>
                            <li>
                                <label class="item-checkbox item-content">
                                    <input type="checkbox">
                                    <i class="icon icon-checkbox"></i>
                                    <div class="item-inner">
                                        <div class="item-title">مرا بخاطر بسپار !</div>
                                    </div>
                                </label>
                            </li>
                            <li><a href="#">فراموش کردن رمز عبور</a></li>
                        </ul>
                    </div>
                    <div class="content-button">
                        <a href="#" class="button primary-button">ورود</a>
                    </div>
                </form>

                <!-- divider -->
                <div class="divider-space-content"></div>
                <!-- end divider -->

                <div class="wrap-sign-in-with">
                    <div class="title">
                        <p>ورود با</p>
                        <span></span>
                    </div>
                    <div class="wrap-media-sign-in">
                        <div class="row">
                            <div class="col-33">
                                <a href="#">
                                    <div class="content bg-facebook">
                                        <i class="fab fa-facebook-f"></i>
                                    </div>
                                </a>
                            </div>
                            <div class="col-33">
                                <a href="#">
                                    <div class="content bg-twitter">
                                        <i class="fab fa-twitter"></i>
                                    </div>
                                </a>
                            </div>
                            <div class="col-33">
                                <a href="#">
                                    <div class="content bg-google">
                                        <i class="fab fa-google"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- divider -->
                <div class="divider-space-content"></div>
                <!-- end divider -->

                <div class="wrap-link-sign-in">
                    <p>حساب کاربری ندارید؟ <a href="/sign-up/">ثبت نام کنید</a></p>
                </div>
            </div>
        </div>
        <!-- end sign in -->
    </div>
</div>