<div class="page">
    <div class="navbar navbar-page">
        <div class="navbar-inner sliding">
            <div class="left">
                <a href="#" class="link back">
                    <i class="fas fa-arrow-left"></i>
                </a>
            </div>
            <div class="title">
                سفارش پیگیری
            </div>
            <div class="right"></div>
        </div>
    </div>
    <div class="page-content">
        <!-- tracking order -->
        <div class="tracking-order segments">
            <div class="container">
                <div class="wrap-title">
                    <h6>آدرس حمل و نقل</h6>
                </div>
                <div class="content">
                    <span>امیر </span>
                    <p>ایران ،l مشهد ، خیابان چمرا ، چمران13 ، آپارتمان سروش ، واحد...</p>
                </div>

                <!-- divider -->
                <div class="divider-line-half"></div>
                <!-- end divider -->

                <div class="wrap-title">
                    <h6>شماره صورتحساب</h6>
                </div>
                <div class="content">
                    <p>11973737398</p>
                </div>

                <!-- divider -->
                <div class="divider-line-half"></div>
                <!-- end divider -->

                <div class="wrap-title">
                    <h6>اطلاعات حمل و نقل <a href="/shipping-information/">بیشتر ببینید</a></h6>
                </div>
                <div class="content">
                    <span><i class="fas fa-circle"></i>فرآیند تحویل</span>
                    <p class="date">1399-12-1</p>
                </div>

                <!-- divider -->
                <div class="divider-line-half"></div>
                <!-- end divider -->

                <div class="wrap-title">
                    <h6>شماره پیگیری</h6>
                </div>
                <div class="content">
                    <p>32973785796</p>
                </div>
            </div>

            <!-- divider -->
            <div class="divider-line-full"></div>
            <!-- end divider -->

            <div class="content-total">
                <div class="container">
                    <div class="wrap-title">
                        <h6>اطلاعات قیمت</h6>
                    </div>
                    <ul>
                        <li>قیمت کالا <span>40.00 تومان</span></li>
                        <li>حمل دریایی <span>2.50 تومان</span></li>
                        <li>تعداد سفارشات <span>60.500 تومان</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- end tracking order -->
    </div>
</div>