<div class="page">
    <div class="navbar navbar-page">
        <div class="navbar-inner sliding">
            <div class="left">
                <a href="#" class="link back">
                    <i class="fas fa-arrow-left"></i>
                </a>
            </div>
            <div class="title">
               لیست علاقه مندی های من
            </div>
            <div class="right"></div>
            <div class="subnavbar">
                <form class="searchbar searchbar-init" data-search-container=".search-list" data-search-in=".item-title">
                    <div class="searchbar-inner">
                        <div class="searchbar-input-wrap">
                            <input type="search" placeholder="جستجو کنید ...">
                            <i class="searchbar-icon"></i>
                            <span class="input-clear-button"></span>
                        </div>
                        <span class="searchbar-disable-button">لغو</span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="page-content hide-navbar-on-scroll">
        <!-- wishlist -->
        <div class="wishlist segments">
            <!-- product -->
            <div class="product">
                <div class="container">
                    <div class="row">
                        <div class="col-50">
                            <div class="content content-shadow-product">
                                <a href="/product-details/">
                                    <div class="love-button">
                                        <i class="fas fa-heart"></i>
                                    </div>
                                    <img src="images/wishlist1.jpg" alt="">
                                    <div class="text">
                                        <p class="title-product">کوله پشتی برای مدرسه </p>
                                        <p class="price">80.00 تومان</p>
                                        <p class="location">مشهد</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-50">
                            <div class="content content-shadow-product">
                                <a href="/product-details/">
                                    <div class="love-button">
                                        <i class="fas fa-heart"></i>
                                    </div>
                                    <img src="images/wishlist2.jpg" alt="">
                                    <div class="text">
                                        <p class="title-product">مواد کیفی مناسب فضای باز</p>
                                        <p class="price">220.00 تومان</p>
                                        <p class="location">مشهد</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-50">
                            <div class="content content-shadow-product">
                                <a href="/product-details/">
                                    <div class="love-button">
                                        <i class="fas fa-heart"></i>
                                    </div>
                                    <img src="images/wishlist3.jpg" alt="">
                                    <div class="text">
                                        <p class="title-product">ژاکت آستین بلند خاکستری ، مواد نرم</p>
                                        <p class="price">85.00 تومان</p>
                                        <p class="location">مشهد</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-50">
                            <div class="content content-shadow-product">
                                <a href="/product-details/">
                                    <div class="love-button">
                                        <i class="fas fa-heart"></i>
                                    </div>
                                    <img src="images/wishlist4.jpg" alt="">
                                    <div class="text">
                                        <p class="title-product"> ژاکت زیبا با یقه</p>
                                        <p class="price">80.00 تومان</p>
                                        <p class="location">مشهد</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-50">
                            <div class="content content-shadow-product">
                                <a href="/product-details/">
                                    <div class="love-button">
                                        <i class="fas fa-heart"></i>
                                    </div>
                                    <img src="images/wishlist5.jpg" alt="">
                                    <div class="text">
                                        <p class="title-product">پیراهن با یقه آستین بلند - سیاه</p>
                                        <p class="price">88.00 تومان</p>
                                        <p class="location">مشهد</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-50">
                            <div class="content content-shadow-product">
                                <a href="/product-details/">
                                    <div class="love-button">
                                        <i class="fas fa-heart"></i>
                                    </div>
                                    <img src="images/wishlist6.jpg" alt="">
                                    <div class="text">
                                        <p class="title-product">کفش با چرم اصل ، تضمین شده است</p>
                                        <p class="price">110.00 تومان</p>
                                        <p class="location">مشهد</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end product -->
        </div>
        <!-- end wishlist -->
    </div>
</div>